* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.leyenda{
    color: #000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
header{
    position: absolute;
    width: 100%;
    height: 750px;
    background: #bdc3c7;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 30%, 24%, 0.605), hsla(204, 8%, 76%, 0.507)), url(../img/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 30%, 24%, 0.605), hsla(204, 8%, 76%, 0.504)), url(../img/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    margin-bottom: 50px;

    
}
nav > a{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;

}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header .negocio h1{
    font-size: 60px;
    color: rgb(5, 255, 59);
    font-weight: 800;
    margin-bottom: 30px;
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 60px;
}
.textos-header h3{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    
}
/* form suscribir*/

.textos-header form{
    margin-top: 40px;
    width: 100%;
    max-width: 440px;
    display: flex;
    margin-bottom: 35px;
}

.textos-header form .campo{
    width: 100%;
    padding: 20px 40px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    outline: 0px;

}

.textos-header form .btn-sub{
    padding: 15px 15px;
    border: none;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px;
    background: #68c3a3;
    color: #FFF;
    cursor: pointer;
    outline: 0px;

}
.textos-header form .btn-sub:hover{
    background: #3eba8f;

}*
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.container{
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    

}
.card{
    display: inline-block;
    width: 30%;
    box-shadow: 10px 8px 8px -4px rgba(0, 0, 0, 0.42); 
    border: 1px solid #eceff1;
    border-radius: 3px;
    margin: 0 auto;
    margin-left: 15px;
}
.img_card{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.title_card{
    margin: 15px 0;

}
.text_card{
    padding: 20px 40px;

}

/*  Ofertas */
.ofertas{
    background: #f2f2f2;
}
.ofertas-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 48%;
    margin-bottom: 10px;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*box-shadow: 0 06px rgba(0,0,0,.5);*/
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.over-gal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(204, 89%, 48%, 0.336);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.over-gal img{
    width: 50px;
}
.over-gal p{
    color: #fff;
    font-weight: 500;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.imagen-port:hover .over-gal{
    transform: scale(1);

}
.partner-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partner-ind{
    width: 28%;
}
.partner-ind img{
    width: 90%;
}
/* footer */
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;

}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}
.content-foo p{
    color: #ccc;
    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;

}

@media screen and (max-width:1000px){

    nav{
        margin-bottom: 15px;
    }

    header{
        background-position: center;
        height: 600px;

        
    }
    .textos-header .negocio h1{
        font-size: 40px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .textos-header h3{
        font-size: 15px;
    }
    .textos-header form{
        margin-top: 10px;
        margin-bottom: 20px;

    }
    .textos-header form .campo{
        width: 80%;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .card{
        width: 90%;


    }
    .card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
        margin-bottom: 60px;
    }
    .card img{
        width: 100%;
        height: 350px;
        
    }

    /*Ofertas*/
    .imagen-port{
        width: 64%;
        
    }
    
    /*Marcas*/
    .partner-cont{
        justify-content: center;
        flex-direction: column;

    }
    .partner-ind{
        width: 30%;
        text-align: center;
    }
    .contenedor-footer{
        flex-direction: column;
        border: none;
        
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
        
    }

}
@media screen and(max-width:500px){

    header{
        height: 500px;
    }
    nav{
        text-align: center;
        padding: 30px 0 0 0;
        
    }
    nav > a{
        margin-right: 5px;
        font-size: 15;
    }
    .textos-header .negocio h1{
        font-size: 35px;
    }
    .textos-header h1{
        font-size: 20px;
    }
    .textos-header h2{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .textos-header h3{
        font-size: 10px;
    }
    .textos-header form{
        margin-top: 20px;
    }
    .textos-header form .campo{
        width: 60%;
    }

    /*ofertas*/

    /*Footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
        
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
   
    
}
